Bin/
*.o
*.d
*.a
*.so
.git/
.vscode/
*.md
LICENSE.txt
Examples/Bin/
Examples/*.o
Examples/*.d
Examples/*.exe
Examples/HelloWorld
Examples/ScheduledHelloWorld
Examples/JsonTest
Examples/ZMQDistribution
Examples/AMQDistribution

